<div id="pWine" class="tab-pane scrollable main-panel" data-plugin-scrollable>
    <div class="scrollable-content">
        <!-- Start - Subpanel - Store -->
        <div id="section1" class="row">
            <div class="col-lg-12">
                <section class="card card-transparent mb-4">
                    <header class="card-header">
                        <div class="card-actions">
                            <a href="#" class="card-action card-action-toggle" data-card-toggle></a>
                        </div>

                        <h2 class="card-title">Information</h2>
                        <p class="card-subtitle"></p>
                    </header>
                    <div class="card-body">
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Creaction
                                type: </label>
                            <div class="col-lg-1" style="margin-top:6px">
                                <div class="radio-custom radio-primary">
                                    <input type="radio" id="radioEx1" name="radio1">
                                    <label for="radioEx1">New</label>
                                </div>
                            </div>
                            <div class="col-lg-1" style="margin-top:6px">
                                <div class="radio-custom radio-primary">
                                    <input type="radio" id="radioEx1" name="radio1">
                                    <label for="radioEx1">Switch</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <hr class="col-lg-8 dotted short" style="margin-bottom: 25px;margin-left: 5%;">
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">1 Hope:
                            </label>
                            <div class="col-sm-5">
                                <div class="checkbox-custom" style="margin-top: 8px;">
                                    <input type="checkbox" checked="" id="checkboxExample2">
                                    <label for="checkboxExample2"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Purchase
                                price change:
                            </label>
                            <div class="col-sm-5">
                                <div class="checkbox-custom" style="margin-top: 8px;">
                                    <input type="checkbox" id="checkboxExample2">
                                    <label for="checkboxExample2"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Prepayment
                                contract: </label>
                            <div class="col-sm-5">
                                <div class="checkbox-custom" style="margin-top: 8px;">
                                    <input type="checkbox" id="checkboxExample2">
                                    <label for="checkboxExample2"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Prepayment:
                                Proforma inv. </label>
                            <div class="col-sm-5">
                                <div class="checkbox-custom" style="margin-top: 8px;">
                                    <input type="checkbox" checked="" id="checkboxExample2">
                                    <label for="checkboxExample2"></label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <hr class="col-lg-8 dotted short" style="margin-bottom: 25px;margin-left: 5%;">
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Contract:
                            </label>
                            <div class="col-lg-1" style="margin-top:6px">
                                <div class="radio-custom radio-primary">
                                    <input type="radio" id="radioEx1" name="radio1">
                                    <label for="radioEx1">Open</label>
                                </div>
                            </div>
                            <div class="col-lg-1" style="margin-top:6px">
                                <div class="radio-custom radio-primary">
                                    <input type="radio" id="radioEx1" name="radio1">
                                    <label for="radioEx1">Fixed</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Contract in
                                bottles: </label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input type="text" name="moq" class="form-control" autocomplete="off"
                                        style="text-align: right;" value="32">
                                    <span class="input-group-append">
                                        <button class="btn btn-default"
                                            style="font-size: smaller;background: snow;width: 75px;"
                                            type="button">%</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <hr class="col-lg-8 dotted short" style="margin-bottom: 25px;margin-left: 5%;">
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Broker:
                            </label>
                            <div class="col-sm-5">
                                <div class="checkbox-custom" style="margin-top: 8px;">
                                    <input type="checkbox" checked="" id="checkboxExample2">
                                    <label for="checkboxExample2"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Brokerage
                                contract: </label>
                            <div class="col-sm-5">
                                <div class="checkbox-custom" style="margin-top: 8px;">
                                    <input type="checkbox" checked="" id="checkboxExample2">
                                    <label for="checkboxExample2"></label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Brokerage:
                            </label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <input type="text" name="moq" class="form-control" autocomplete="off"
                                        style="text-align: right;" value="17">
                                    <span class="input-group-append">
                                        <button class="btn btn-default"
                                            style="font-size: smaller;background: snow;width: 75px;"
                                            type="button">%</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <hr class="col-lg-8 dotted short" style="margin-bottom: 25px;margin-left: 5%;">
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Color:
                            </label>
                            <div class="col-sm-5">
                                <select class="form-control">
                                    <option selected>Paquets Degustation - Degustatie Pakket
                                    </option>
                                    <option>Another option</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Conditioning:
                            </label>
                            <div class="col-sm-5">
                                <select class="form-control">
                                    <option selected>Coffret de 2 bouteilles</option>
                                    <option>Another option</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Vintage:
                            </label>
                            <div class="col-sm-5">
                                <input type="text" class="form-control" id="formGroupExampleInput" placeholder=""
                                    style="text-align:right">
                            </div>
                        </div>
                        <div class="row">
                            <hr class="col-lg-8 dotted short" style="margin-bottom: 25px;margin-left: 5%;">
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Region:
                            </label>
                            <div class="col-sm-5">
                                <select class="form-control">
                                    <option selected>LANGUEDOC ROUSSILLON - Côtes du Roussillon
                                        Villages</option>
                                    <option>Another option</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Appelation:
                            </label>
                            <div class="col-sm-5">
                                <select class="form-control">
                                    <option selected>Max length for this one is 40 characters
                                    </option>
                                    <option>Another option</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Loading
                                address: </label>
                            <div class="col-sm-5">
                                <textarea class="form-control" rows="5" data-plugin-maxlength
                                    maxlength="250"></textarea>
                                <p style="text-align: right;">
                                    <code>Max:</code> 250
                                </p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 control-label text-sm-right pt-2">Loading
                                country: </label>
                            <div class="col-sm-5">
                                <select class="form-control">
                                    <option selected>BE - Belgium</option>
                                    <option>Another option</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- End - Subpanel - Information -->
    </div>
</div>