						<div id="pTaxes" class="tab-pane scrollable main-panel" data-plugin-scrollable>
							<div class="scrollable-content">
								<!-- Start - Subpanel - VAT Rate -->
								<div id="section1" class="row">
									<div class="col-lg-12">
										<section class="card card-transparent mb-4">
											<header class="card-header">
												<div class="card-actions">
													<a href="#" class="card-action card-action-toggle"
														data-card-toggle></a>
												</div>

												<h2 class="card-title">VAT Rate</h2>
												<p class="card-subtitle"></p>
											</header>
											<div class="card-body">
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Belgium:
													</label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select"
															style="text-align: center;">
															<option value=""></option>
															<option value="N1" selected>21%</option>
															<option value="D1">12%</option>
															<option value="D1">6%</option>
															<option value="D1">0%</option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Luxembourg:
													</label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select"
															style="text-align: center;">
															<option value=""></option>
															<option value="N1" selected>17%</option>
															<option value="D1">14%</option>
															<option value="D1">8%</option>
															<option value="D1">3%</option>
															<option value="D1">0%</option>
														</select>
													</div>
												</div>
												<div class="row">
													<hr class="col-lg-8 dotted short"
														style="margin-bottom: 25px;margin-left: 5%;">
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Commodity
														code: </label>
													<div class="col-sm-5">
														<input type="text" name="ccode" class="form-control"
															autocomplete="off" value="1234569"
															style="text-align: center;">
													</div>
												</div>
												<div class="row">
													<div class="offset-lg-3 col-lg-5">
														<label style="color: green;" class="col-form-label"
															for="formGroupExampleInput">Bread, pastry, cakes,
															biscuits and other bakers' wares, whether or not
															containing cocoa; communion wafers, empty cachet of a
															kind suitable for pharmaceutical use, sealing wafers,
															rice paper and similar products.</label>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
								<!-- End - Subpanel - VAT Rate -->
								<!-- Start - Subpanel - Excise duties -->
								<div id="section2" class="row" style="margin-top: 50px;">
									<div class="col-lg-12">
										<section class="card card-transparent mb-4">
											<header class="card-header">
												<div class="card-actions">
													<a href="#" class="card-action card-action-toggle"
														data-card-toggle></a>
												</div>

												<h2 class="card-title">Excise Duties</h2>
												<p class="card-subtitle"></p>
											</header>
											<div class="card-body vTable">
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">ED Type:
													</label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option value="L">ZBF - Beers Alcohol free</option>
															<option value="CTL">ZFV - Vegetables & fruit juice</option>
															<option value="G" selected>ZSF - Alchohol free</option>
															<option value="KG">ZWF - ine Alcohol free =< 1,2%</option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Excise tax
														dependent category: </label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option value="L">130 - Alcohol freeÂ <= 1,2%</option>
															<option value="CTL" selected>140 - Alcohol free fermented
															</option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">EPC code:
													</label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option value="L">B000 - Beer</option>
															<option value="CTL">I000 - Intermediate product</option>
															<option value="G">S200 - SPIRITUOUS BEVERAGES</option>
															<option value="KG">S300 - ETHYL ALCOHOL</option>
															<option value="W200">W200 - STILL WINE & STILL FERMENTED
																BEVERAGES</option>
															<option value="W300" selected>W300 - SPARKLING WINE &
																SPARKLING FERMENTED BEV</option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Duty paid:
													</label>
													<div class="col-sm-5" style="text-align: center;">
														<div class="checkbox-custom"
															style="margin-top: 8px;margin-left: 45%;">
															<input type="checkbox" checked id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="row">
													<hr class="col-lg-9 dotted short"
														style="margin-bottom: 25px;margin-left: 10%;">
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">PLDA code:
													</label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select"
															style="text-align: center;">
															<option value=""></option>
															<option value="L">S003</option>
															<option value="CTL">S007</option>
															<option value="G">S009</option>
															<option value="KG">S024</option>
															<option value="W200">S101</option>
															<option value="W300" selected>S109</option>
														</select>
														<div class="row">
															<div class="col-lg-12">
																<label style="color: green;" class="col-form-label"
																	for="formGroupExampleInput">This is a text of 255
																	characters that is the largest size that this text
																	can get from the backend. This is a text of 255
																	characters that is the largest size that this text
																	can get from the backend. This is a text of 255
																	characters that is the largest size</label>
															</div>
														</div>
													</div>
												</div>
												<div class="row">
													<hr class="col-lg-9 dotted short"
														style="margin-bottom: 25px;margin-left: 10%;">
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Degree
														alcohol %: </label>
													<div class="col-sm-5">
														<input type="text" name="degal" class="form-control"
															autocomplete="off" style="text-align: center;" value="7,55">
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Degree
														plato (Beers): </label>
													<div class="col-sm-5">
														<input type="text" name="degal" class="form-control"
															autocomplete="off" style="text-align: center;"
															value="13,28">
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
								<!-- End - Subpanel - Excise duties -->
								<!-- Start - Subpanel - Bebat -->
								<div id="section3" class="row" style="margin-top: 50px;">
									<div class="col-lg-12">
										<section class="card card-transparent mb-4">
											<header class="card-header">
												<div class="card-actions">
													<a href="#" class="card-action card-action-toggle"
														data-card-toggle></a>
												</div>

												<h2 class="card-title">Bebat</h2>
												<p class="card-subtitle"></p>
											</header>
											<div class="card-body">
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Battery
														type: </label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option value="N1" selected>BAT_003A - B108010010_HR20_D /
																HR35/62_NonSeparable</option>
															<option value="D1">BAT_004A - A106022180_FR6_AA_Separable
															</option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Number of
														batteries: </label>
													<div class="col-sm-5">
														<input type="text" name="ncobuom" class="form-control"
															autocomplete="off" style="text-align: right;" value="45">
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
								<!-- End - Subpanel - Bebat -->
								<!-- Start - Subpanel - On electro-appliances -->
								<div id="section4" class="row" style="margin-top: 50px;">
									<div class="col-lg-12">
										<section class="card card-transparent mb-4">
											<header class="card-header">
												<div class="card-actions">
													<a href="#" class="card-action card-action-toggle"
														data-card-toggle></a>
												</div>

												<h2 class="card-title">On electro-appliances</h2>
												<p class="card-subtitle"></p>
											</header>
											<div class="card-body">
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Ecotrel:
													</label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option value="N1" selected>WEEELU_3.5 - Small IT equipment
																and telecommunication</option>
															<option value="D1">WEEELU_5.3 - Lighting device with 1 light
																source</option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Recupel:
													</label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option value="N1" selected>WEEEBE_04.02 - Other audio-video
																appliances - domestic</option>
															<option value="D1">WEEEBE_04.03 - Ionising smoke/heat alarms
																- domestic</option>
														</select>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
								<!-- End - Subpanel - On electro-appliances -->
							</div>
						</div>
						<!-- End - Panel - Taxes  -->
