						<div id="pCodes" class="tab-pane scrollable main-panel" data-plugin-scrollable>
							<div class="scrollable-content">
								<!-- Start - Subpanel - Legislated code -->
								<div id="section1" class="row">
									<div class="col-lg-12">
										<section class="card card-transparent mb-4">
											<header class="card-header">
												<div class="card-actions">
													<a href="#" class="card-action card-action-toggle"
														data-card-toggle></a>
												</div>

												<h2 class="card-title">Legislated code</h2>
												<!-- <p class="card-subtitle"><u>Dangerous symbols</u> are only relevant for articles that belong to filieres 15 (Drugstore/Perfumery) or 16 (GMS)</p> -->
											</header>
											<div class="card-body">
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Bio:
													</label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" checked="" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Eco-Cheque:
													</label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Comeos
														code: </label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" checked="" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Treated
														with Biocide: </label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="row">
													<hr class="col-lg-8 dotted short"
														style="margin-bottom: 25px;margin-left: 5%;">
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Code of
														certification body:</label>
													<div class="col-sm-5">
														<input type="text" name="calibre" class="form-control"
															autocomplete="off" value="155115345">
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Calibre:
													</label>
													<div class="col-sm-5">
														<input type="text" name="calibre" class="form-control"
															autocomplete="off" value="654321">
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Medical
														device:</label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option>0001 - Not a medical device</option>
															<option>0002 - Class I (Lowest Risk)</option>
															<option selected>0003 - Class IIa (Low to Moderate Risk)
															</option>
															<option>0004 - Class IIb (Moderate to High Risk)</option>
														</select>
													</div>
												</div>

												<div class="row">
													<hr class="col-lg-8 dotted short"
														style="margin-bottom: 25px;margin-left: 5%;">
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Dangerous
														symbols (GHS): </label>
													<div class="col-sm-7">
														<table id="f4"
															class="table table-no-more table-hover mb-0 dTable">
															<tbody>
																<tr style="background: floralwhite;">
																	<td data-title="" class="text-center">
																		<div class="checkbox-custom">
																			<input type="checkbox" checked=""
																				id="checkboxExample2">
																			<label for="checkboxExample2"></label>
																		</div>
																	</td>
																	<td data-title="Code" class="text-center">01</td>
																	<td data-title="Description" class="text-left">
																		EXPLODING_BOMB - Depicts explosives and some
																		self-reactives and/or organic peroxides</td>
																</tr>
																<tr>
																	<td data-title="" class="text-center">
																		<div class="checkbox-custom">
																			<input type="checkbox" id="checkboxExample2"
																				disabled>
																			<label for="checkboxExample2"></label>
																		</div>
																	</td>
																	<td data-title="Code" class="text-center">02</td>
																	<td data-title="Description" class="text-left">LAME
																		- Depicts flammable substances</td>
																</tr>
																<tr>
																	<td data-title="" class="text-center">
																		<div class="checkbox-custom">
																			<input type="checkbox" id="checkboxExample2"
																				disabled>
																			<label for="checkboxExample2"></label>
																		</div>
																	</td>
																	<td data-title="Code" class="text-center">03</td>
																	<td data-title="Description" class="text-left">
																		FLAME_OVER_CIRCLE - Depicts oxidizing gases,
																		liquids or solids</td>
																</tr>
																<tr style="background: floralwhite;">
																	<td data-title="" class="text-center">
																		<div class="checkbox-custom">
																			<input type="checkbox" checked=""
																				id="checkboxExample2" disabled>
																			<label for="checkboxExample2"></label>
																		</div>
																	</td>
																	<td data-title="Code" class="text-center">04</td>
																	<td data-title="Description" class="text-left">
																		GAS_CYLINDER - Depicts gases under pressure</td>
																</tr>
																<tr>
																	<td data-title="" class="text-center">
																		<div class="checkbox-custom">
																			<input type="checkbox" id="checkboxExample2"
																				disabled>
																			<label for="checkboxExample2"></label>
																		</div>
																	</td>
																	<td data-title="Code" class="text-center">05</td>
																	<td data-title="Description" class="text-left">
																		CORROSION - Depicts corrosives to skin, eyes
																		and/or metals</td>
																</tr>
																<tr style="background: floralwhite;">
																	<td data-title="" class="text-center">
																		<div class="checkbox-custom">
																			<input type="checkbox" checked=""
																				id="checkboxExample2" disabled>
																			<label for="checkboxExample2"></label>
																		</div>
																	</td>
																	<td data-title="Code" class="text-center">06</td>
																	<td data-title="Description" class="text-left">
																		SKULL_AND_CROSSBONES - Depicts acute toxicity
																	</td>
																</tr>
																<tr>
																	<td data-title="" class="text-center">
																		<div class="checkbox-custom">
																			<input type="checkbox" id="checkboxExample2"
																				disabled>
																			<label for="checkboxExample2"></label>
																		</div>
																	</td>
																	<td data-title="Code" class="text-center">07</td>
																	<td data-title="Description" class="text-left">
																		EXCLAMATION_MARK - Depicts other health hazards
																	</td>
																</tr>
																<tr>
																	<td data-title="" class="text-center">
																		<div class="checkbox-custom">
																			<input type="checkbox" id="checkboxExample2"
																				disabled>
																			<label for="checkboxExample2"></label>
																		</div>
																	</td>
																	<td data-title="Code" class="text-center">08</td>
																	<td data-title="Description" class="text-left">
																		HEALTH_HAZARD - Depicts severe health hazards
																	</td>
																</tr>
																<tr>
																	<td data-title="" class="text-center">
																		<div class="checkbox-custom">
																			<input type="checkbox" id="checkboxExample2"
																				disabled>
																			<label for="checkboxExample2"></label>
																		</div>
																	</td>
																	<td data-title="Code" class="text-center">09</td>
																	<td data-title="Description" class="text-left">
																		ENVIRONMENT - Tree and dead fish. Depicts
																		hazards to the aquatic environment</td>
																</tr>
															</tbody>
														</table>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
								<!-- End - Subpanel - Legislated code -->
								<!-- Start - Subpanel - Label claim -->
								<div id="section2" class="row" style="margin-top: 50px;">
									<div class="col-lg-12">
										<section class="card card-transparent mb-4">
											<header class="card-header">
												<div class="card-actions">
													<a href="#" class="card-action card-action-toggle"
														data-card-toggle></a>
												</div>

												<h2 class="card-title">Label claim</h2>
												<p class="card-subtitle"></p>
											</header>
											<div class="card-body">
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Eco:
													</label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" checked="" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Fair trade:
													</label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">No gluten:
													</label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">No lactose:
													</label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" checked="" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="row">
													<hr class="col-lg-8 dotted short"
														style="margin-bottom: 25px;margin-left: 5%;">
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Diet
														classification: </label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option>0001 - None</option>
															<option selected="">0002 - Veggie</option>
															<option>0003 - Veggie & Vegan</option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Packaging
														type: </label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option>0001 - No</option>
															<option>0002 - Kids</option>
															<option>0003 - Food of the world</option>
															<option>0004 - Superfood</option>
															<option>0005 - Streetfood</option>
															<option selected="">0006 - Family/Maxi pack</option>
														</select>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
								<!-- End - Subpanel - Label claim -->
								<!-- Start - Subpanel - Type of product introduction and exclusivity -->
								<div id="section3" class="row" style="margin-top: 50px;">
									<div class="col-lg-12">
										<section class="card card-transparent mb-4">
											<header class="card-header">
												<div class="card-actions">
													<a href="#" class="card-action card-action-toggle"
														data-card-toggle></a>
												</div>

												<h2 class="card-title">Type of product introduction and exclusivity</h2>
												<p class="card-subtitle"></p>
											</header>
											<div class="card-body">
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Type of
														product introduction: </label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option>0001 - Blank</option>
															<option selected="">0002 - Me Too</option>
															<option>0003 - Me Better</option>
															<option>0004 - Unique</option>
														</select>
													</div>
													<div class="col-sm-2">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" id="checkboxExample2">
															<label for="checkboxExample2">Innovation</label>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label
														class="col-sm-3 control-label text-sm-right pt-2">Ahold-Delhaize
														group: </label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<!-- <div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Red market
														(Own brand): </label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" checked="" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div> -->
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Exclusive
														Lux: </label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" checked="" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="row">
													<hr class="col-lg-8 dotted short"
														style="margin-bottom: 25px;margin-left: 5%;">
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Exclusive
														assortment: </label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option>0G01 - BE-ALVADIS</option>
															<option selected>0G02 - BE-BLACKHAWK</option>
														</select>
													</div>
												</div>
												<div class="row">
													<hr class="col-lg-8 dotted short"
														style="margin-bottom: 25px;margin-left: 5%;">
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Exclusivity
														type: </label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option>0001 - Blank</option>
															<option>0002 - Essential</option>
															<option selected>0003 - Additional</option>
															<option>0004 - Special</option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Exclusivity
														type validity period: </label>
													<div class="col-sm-5">
														<div class="input-daterange input-group" data-plugin-datepicker
															data-plugin-options='{ "format": "dd/mm/yyyy" }'>
															<span class="input-group-prepend">
																<span class="input-group-text">
																	<i class="fas fa-calendar-alt"></i>
																</span>
															</span>
															<input type="text" class="form-control dateInput"
																name="start" value="15/02/2024">
															<span
																class="input-group-text border-left-0 border-right-0 rounded-0">
																to
															</span>
															<input type="text" class="form-control dateInput" name="end"
																value="07/05/2024">
														</div>
													</div>
												</div>

											</div>
										</section>
									</div>
								</div>
								<!-- End - Subpanel - Type of product introduction and exclusivity -->
								<!-- Start - Subpanel - Others -->
								<div id="section4" class="row" style="margin-top: 50px;">
									<div class="col-lg-12">
										<section class="card card-transparent mb-4">
											<header class="card-header">
												<div class="card-actions">
													<a href="#" class="card-action card-action-toggle"
														data-card-toggle></a>
												</div>

												<h2 class="card-title">Others</h2>
												<p class="card-subtitle"></p>
											</header>
											<div class="card-body">
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Bulk:
													</label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" checked="" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Out of
														sales: </label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Applicable
														for collaboration fees:</label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Applicable
														for discounted fees:</label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Excluded
														from brand fee:</label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Local (DSD
														Local):</label>
													<div class="col-sm-5">
														<div class="checkbox-custom" style="margin-top: 8px;">
															<input type="checkbox" id="checkboxExample2">
															<label for="checkboxExample2"></label>
														</div>
													</div>
												</div>
												<div class="row">
													<hr class="col-lg-8 dotted short"
														style="margin-bottom: 25px;margin-left: 5%;">
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Need in
														assortment: </label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option>0001 - Blank</option>
															<option>0002 - Essential</option>
															<option selected>0003 - Additional</option>
															<option>0004 - Special</option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Quality:
													</label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option>0001 - Blank</option>
															<option selected="">0002 - Me Too</option>
															<option>0003 - Me Better</option>
															<option>0004 - Unique</option>
														</select>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-3 control-label text-sm-right pt-2">Activation
														code: </label>
													<div class="col-sm-5">
														<select class="form-control mb-3 cust-select">
															<option value=""></option>
															<option>0G01 - BE-ALVADIS</option>
															<option selected>0G02 - BE-BLACKHAWK</option>
														</select>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
								<!-- End - Subpanel - Others -->
							</div>
						</div>
						<!-- End - Panel - Codes  -->
